output/*.png
__pycache__/
*.pyc
.venv/
.env
.DS_Store

assets/fonts/*
!assets/fonts/README.md
!assets/fonts/Bold.ttf
!assets/fonts/Regular.ttf
assets/logos/*
!assets/logos/README.md
assets/players/*
!assets/players/README.md

video/clips/*
!video/clips/README.md
video/music/*
!video/music/README.md
video/exports/*
!video/exports/README.md
